body {
	margin: 0;
	font: 400 14px "Trebuchet MS",Helvetica,Arial,sans-serif;
	color: #656669;
	background:#273b4d url(../images/bankstreet/bg-body.jpg) repeat-x 50% 0;
	background-attachment: fixed;
	min-width:1000px;
}
img {border-style: none;}
a {
	text-decoration:none;
	color: #f05033;
}
a:hover {text-decoration:underline;}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
input, textarea, select {
	font:400 12px "Trebuchet MS",Helvetica,Arial,sans-serif;
	vertical-align: middle;
}
q{quotes: none;}
q:before{content:'';}
q:after{content:'';}
/* wrapper */
#wrapper{
	width:100%;
}
.w1{
	width:969px;
	margin:0 auto;
}
/* header */
#header{
	width:100%;
	margin-bottom:136px
}
#header .holder{
	height:1%;
	overflow:hidden;
	padding:10px 9px 59px 20px;
}
#header .home{
	float:left;
	color:#fff;
	font-size:16px;
	line-height:17px;
	font-style:italic;
	background:url(../images/bankstreet/icons.png) no-repeat;
	padding:0 0 0 23px;
	text-decoration:none;
}
#header .home:hover{
	background-position:0 -36px;
	color:#f05033;
}
/* social */
.social{
	margin:0;	padding:0;	list-style:none;
	float:right;
}
.social li{
	float:left;
	padding:2px 0 0 6px;
}
.social a{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/bankstreet/icons.png) no-repeat;
	width:16px;
	height:16px;
}
.social a.facebook{background-position:0 -69px;}
.social a.facebook:hover{background-position:0 -97px;}
.social a.twitter{
	background-position:1px -133px;
	width:21px;
}
.social a.twitter:hover{background-position:1px -163px;}
.logo{	margin:0 0 0 23px;	width:636px;	height:140px;	overflow:hidden;	display:block;	background:url(../images/bankstreet/logo.png) no-repeat;	text-indent:-9999px;	cursor:pointer;}.logo a{	height:100%;	display:block;}
/* main */
#main{	width:100%;
	margin-bottom:26px;}.main-t{	background:url(../images/bankstreet/bg-main.png) no-repeat;	height:10px;
	text-indent:-9999px;
	overflow:hidden;}.main-c{
	width:100%;	background:url(../images/bankstreet/bg-main.png) repeat-y -1003px 0;}.main-c:after{	content:"";	clear:both;	display:block;}#main .content-mini{	margin-top:-5px;	float:left;	position:relative;
	width:926px;
	padding:0 21px 3px 22px;}.main-b{	background:url(../images/bankstreet/bg-main.png) no-repeat -2009px 0;	height:10px;
	text-indent:-9999px;
	overflow:hidden;}
#main .topic{
	margin:0 -19px 14px -20px;
	height:1%;
	width:965px;
	background:url(../images/bankstreet/separator2.png) repeat-x 0 100%;
	position:relative;
	padding:0 0 5px;
}
#main .title:after{	display:block;	clear:both;	content:'';}
/* date-hold */
.date-hold{
	position:absolute;
	top:-12px;
	right:19px;
	background:url(../images/bankstreet/icons.png) no-repeat 0 -199px;
	width:40px;
	height:41px;
	overflow:hidden;
	text-align:center;
}
.date-hold span{
	width:100%;
	float:left;
	color:#f5f5f5;
	font:400 18px/20px "Trebuchet MS",Helvetica,Arial,sans-serif;
	margin:0 0 -6px;
}
.date-hold strong{
	width:100%;
	float:left;
	color:#f5f5f5;
	font:700 22px/26px "Trebuchet MS",Helvetica,Arial,sans-serif;
}
/* date-hold */
#nav{
	margin:0;
	padding:6px 0 0 21px;
	list-style:none;
	height:1%;
	font:italic 400 16px/20px "Trebuchet MS", Helvetica, Arial, sans-serif;
}
#nav:after{
	display:block;
	clear:both;
	content:'';
}
#nav li{
	float:left;
	margin:0 24px 5px 0;
}
#nav li:hover{position:relative;}
#nav a{
	float:left;
	color:#3a3a3c;
	cursor:pointer;
	text-decoration:none;
}
#nav a.has-drop-down-a{
	background:url(../images/bankstreet/bullet.png) no-repeat 100% 50%;
	padding:0 13px 0 0;
} 
#nav li.active a{
	font-weight:bold;
	color:#f05033;
}
#nav a:hover,
#nav li:hover a{color:#f05033;}
/* nav .drop */
#nav .drop{
	position:absolute;
	top:100%;
	left:-3px;
	width:204px;
	display:none;
	padding:5px 0 0;
}
#nav li:hover .drop{display:block;}
#nav .drop-t{
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/bankstreet/bg-drop.png) no-repeat;
	height:10px;
}
#nav .drop-c{
	width:100%;
	background:url(../images/bankstreet/bg-drop.png) repeat-y -227px 0;
}
#nav .drop-c:after{
	content:"";
	clear:both;
	display:block;
}
#nav .drop-content{
	margin:-8px 0 -2px;
	float:left;
	position:relative;
	width:198px;
	padding:0 3px;
}
#nav .drop-b{
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/bankstreet/bg-drop.png) no-repeat -451px 0;
	height:10px;
}
#nav .drop ul{
	margin:0;
	padding:0 0 1px;
	list-style:none;
	font:italic 400 15px/20px "Trebuchet MS",Helvetica,Arial,sans-serif;
	background:url(../images/bankstreet/separator3.gif) repeat-x 0 100%;
}
#nav .drop ul:after{
	display:block;
	clear:both;
	content:"";
}
#nav .drop ul li{
	float:left;
	width:100%;
	background:url(../images/bankstreet/separator3.gif) repeat-x;
	padding:1px 0 0;
	margin:0;
}
#nav .drop ul a{
	padding:4px 10px 5px;
	margin:0 !important;
	color:#3a3a3c;
	background:none !important;
	float:left;
	width:178px;
}
#nav .drop ul a:hover{
	color:#f05033;
	background:#fafafa !important;
}
.content-mini h2{
	margin:0 0 23px;
	color:#f05033;
	font:italic 400 22px/30px "Trebuchet MS",Helvetica,Arial,sans-serif;
}
/* intro */
.content-mini .intro{
	border:solid #d7d7d9;
	border-width:2px 0;
	height:1%;
	overflow:hidden;
	font:italic 400 22px/30px "Trebuchet MS",Helvetica,Arial,sans-serif;
	margin:0 -3px 29px 0;
	padding:9px 0 11px;
}
.intro .alignleft{
	float:left;
	border:solid #fff;
	border-width:4px 5px 0 0;
	margin:2px 19px 0 0;
}
.intro .alignright{
	float:right;
	border:solid #fff;
	border-width:0 5px 4px 0;
	margin:6px 0 0 20px;
}
.content-mini .intro p{margin:0 0 10px;}
.content-mini .holder{
	height:1%;
	overflow:hidden;
	margin:0 0 67px;
}
/* data */
.content-mini .data{
	float:left;
	width:594px;
}
.content-mini .data h3{
	margin:0 0 9px;
	color:#444547;
	font:italic 700 20px/24px "Trebuchet MS",Helvetica,Arial,sans-serif;
}
/* information */
.information{
	margin:0;
	padding:0;
	list-style:none;
	line-height:14px;
	height:1%;
	overflow:hidden;
	border-top:2px solid #d7d7d9;
}
.information li{
	border-bottom:2px solid #d7d7d9;
	width:100%;
	float:left;
	padding:4px 0 6px;
}
.information span.title{
	float:left;
	padding:2px 0 2px;
	width:79px;
	color:#393b3c;
	font:italic 700 15px/18px "Trebuchet MS",Helvetica,Arial,sans-serif;
}
.information .information-holder{
	height:1%;
	overflow:hidden;
	padding:4px 1px 0 0;
}
.information-holder span{
	display:block;
	padding:1px 0 4px;
}
.information-holder span a{
	color:#444;
	text-decoration:underline;
}
.information-holder span a:hover{
	text-decoration:inherit;
	color:#f05033;
}
.information .address-box{
	overflow:hidden;
	height:1%;
}
.information .address-box a{
	color:#444;
	text-decoration:underline;
	float:left;
	line-height:18px;
	margin:-2px 0 0;
	background:url(../images/bankstreet/icons.png) no-repeat 0 -264px;
	padding:0 0 5px 37px;
}
.information .address-box a:hover{text-decoration:none;}
.information .register{
	float:right;
	color:#fff;
	width:90px;
	height:22px;
	text-indent:-9999px;
	overflow:hidden;
	margin:-2px 0 0;
	background:#f05033 url(../images/bankstreet/bg-register.png) no-repeat;
}
.information .register-closed{
	float:right;
	color:#656669;
	font:italic 700 15px/18px "Trebuchet MS",Helvetica,Arial,sans-serif;
	padding:0 0 3px;
}
.content-mini .link{
	margin-bottom:10px;
	height:1%;
	overflow:hidden;
}
.content-mini .link a{
	text-decoration:underline;
	background:url(../images/bankstreet/icons.png) no-repeat 0 -335px;
	padding:0 0 0 33px;
	float:left;
	color:#656669;
}
.content-mini .link a:hover{text-decoration:none;}
/* aside */
.content-mini .aside{
	float:right;
	width:282px;
}
.content-mini .aside h3{
	margin:0 0 9px;
	color:#444547;
	font:italic 700 20px/24px "Trebuchet MS",Helvetica,Arial,sans-serif;
}
/* schedule-list */
.schedule-list{
	margin:0;
	height:1%;
	overflow:hidden;
	border-top:2px solid #d7d7d9;
}
.schedule-list dt{
	float:left;
	padding:7px 0 8px;
	width:79px;
	font-style:italic;
	font-weight:bold;
}
.schedule-list dd{
	margin:0;
	border-bottom:2px solid #d7d7d9;
	padding:7px 0 8px;
}
/* footer */
#footer{
	width:100%;
	background:#273b4d;
	text-align:center;
}
.footer-frame{
	margin:0 auto;
	width:970px;
	overflow:hidden;
	color:#fff;
	font:400 14px/16px "Trebuchet MS",Helvetica,Arial,sans-serif;
	padding:26px 0 5px;
}
/* footer-menu */
.footer-menu{
	margin:0;	padding:0 0 10px;	list-style:none;
}
.footer-menu li{
	display:inline;
	background:url(../images/bankstreet/separator.png) no-repeat 0 2px;
	padding:0 6px 0 10px;
	font:400 14px/16px "Trebuchet MS",Helvetica,Arial,sans-serif;
}
.footer-menu li:first-child{background:none;}
.footer-menu a{color:#fff;}
.footer-frame p{margin:0;}