#main {margin-top: expression(document.getElementById("header").offsetHeight + "px");}
#header {margin-top: expression((0 - (this.offsetHeight + document.getElementById("main").offsetHeight)) + "px");}
.main-gallery .slogan-holder { margin-top: expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight)/2 + "px") : "0"); }
.future-opportunities ul .text{
	width: auto;
	height: 1%;
	margin-top: expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight)/2 + "px") : "0");
}
.box-big .photo-holder ul ul li,
.victor-list li{
	zoom:1;
	display:inline;
}